@import url(large.css) (min-width:750px);

:root {
  --main-bg-color: white;
  --main-text-color: #0f0f0f;
  --border: 10px solid yellow;
}

@font-face {
  font-family: "Comic Sans";
  src: url("https://github.com/antimatter15/doge/raw/master/Comic%20Sans%20MS.ttf");
}

html {
  display: block;
  width: 100%;
}

body {
  background-color: var(--main-bg-color);
  color: var(--main-text-color);
  font-family: "Comic Sans MS", "Comic Sans", Arial, sans-serif;
}

ul {
  padding-left: 2px;
  padding-right: 24px;
}

li {
  display: inline-block;
  background: yellow;
  padding: 2px 5px 0;
  margin: 0 0 5px 0px;
  box-sizing: border-box;
  word-break: break-word;
}

.section h3 {
  padding: 24px 24px 0;
  box-sizing: border-box;
}

.header {
  width: 35vw;
}

.container {
  display: flex;
  width: 100vw;
  justify-content: center;
  flex-flow: row wrap;
  box-sizing: border-box;
}

.title {
  width: 100vw;
  padding: 24px;
  text-align: center;
  flex-flow: column wrap;
  align-items: center;
}

.title * {
  max-width: 50ch;
}

.main {
  align-items: center;
}

.container div {
  margin: 0 0 0 24px;
}

.schedule li {
  display: block;
  background: none;
}

.column {
  width: 100%;
  max-width: 80ch;
}

.afterparty {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
}

.afterparty em {
  margin: 0;
}

.afterparty-details {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

.sponsor-logos {
  display: flex;
  align-items: center;
  padding: 24px 24px 0 0;
  justify-content: center;
  flex-flow: column wrap;
}

em {
  margin-left: 32px;
}

table {
  margin: 0 24px;
  border-collapse: collapse;
}

th, td {
  padding: 2px 5px;
  border: 1px solid;
}
